* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background: #f4f4f4;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.single-card {
    width: 400px;
    height: 500px;
    position: relative;
}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 450px;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
}


img {
    height: 400px;
}